.Container{
    background-image: url(images/desktop/image-header.jpg);
    background-position: 40% 80%;
    background-size: cover;
     /* width: 1300px; */
    height: 90vh;
    margin-top: 1%;

    
}
img{
    margin-left:2%;
    margin-top: 2%;
}
html body{
    margin: 0px;
    padding: 0px; 
}
#about{
    float: center;
    position: absolute;
    margin-left: 4%;
    margin-top: -0.2%;
    font-size: 20px;
}
html body{
    margin: 0px;
    padding: 0px;
}
.head a img{
    width: 180px;
    margin-left: 20%;
    margin-top: 10%;
}
.form{
    height: 300px;
    width: 300px   ;
    margin-top: -5%;
    margin-left: 400px;
    background-color: #cfc6c6b0;
    /* opacity: 0.6; */
    border: none;
    padding: 20px;
    border-radius: 3.5%;
   
}

.head{
    /* background-color: #C7EEF6; */
    height: 150px;
    
    margin-left: 0%;
    margin-top: -2%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    
} 
.sunnSide{
    margin-top: 4%;
    margin-left: 3%;
    color: white;
}
h1.wee{
    margin-left: 37%;
    font-size: 36px;
    margin-top: 2%;
    position: absolute;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;  
    float: right;
    margin-top: -7%;
    margin-left: 34%;
    width: 14%;
    padding: 10% 20%;
    text-decoration: none;
}
ul li{
    text-decoration: none;
    margin-right: -1%;
 
 size: 20%;

}
ul li a{
    text-decoration: none;
    /* background-color: rgb(255, 255, 255); */
   color: rgb(255, 255, 255); 
   padding: 5px;
   margin-left: 40px;

   /* margin-right: -50%; */
 

}


h1{
    color: white;
    margin-left: 20%;
}
 li a:hover{
   color: rgb(26, 23, 23); 
    width: 10px;
    background-color: #daf5fa;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.footer{
    background-color:  #C7EEF6;
    height: 450px;
    margin-left: 0%;
    margin-top: -0%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    align-content: space-between;
   

} 


.footer2{
    background-color:  #C7EEF6;
    height: 450px;
    margin-left: 0%;
    margin-top: -0%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    align-content: space-between;
   

} 
.footer3{
    background-color:  #C7EEF6;
    height: 500px;
    margin-left: 0%;
    margin-top: -0%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    align-content: space-between;
   

} 

.footer4{
    background-color:  #C7EEF6;
    height: 500px;
    margin-left: 0%;
    margin-top: -0%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    align-content: space-between;

} 
.client{
    margin-left: 40%;
    margin-top: 10%;
    font-size: 18px;
    color: rgb(134, 127, 127);
}
.footer5{
    background-color:  #ffffff;
    height: 320px;
    margin-left: 0%;
    margin-top: 0%;
    display: flex;
    text-decoration: none;
    opacity: 0.8;
    align-content: space-between;

} 


.footer6{
    background-color:  #941a1a;
    height: 250px;
    margin-left: -1000px;
    margin-top: 5%;
    display: flex;
}
.footer7{
    background-color:  #76D7C4;
    height: 400px;
    margin-left: -1000px;
    margin-top: 0%;
    display: flex;
}

h1.trans{
    margin-left: 10%;
    margin-top: 10%;
}
.trans2{
    margin-left: 1%;
    margin-top: 10%;
    color: rgb(53, 52, 52);

}
h3.trans2{
    margin-left: 1%;
    margin-top: 5%;
    color: rgb(53, 52, 52);

}
div.footer_1{
    
    height: 450px;
    width: 80%;
}
.footer3 div.footer_1{
    height: 500px;
}
.footer4 div.footer_1{
   margin-top: 0%;
   padding-bottom: 2%;
}
#footer_o{
   /* background-color: rgb(128, 0, 0); */
   background-image: url(images/desktop/image-transform.jpg);
   margin-left: 0%;
   width: 80%;
   /* width: 60%; */
}
#footer_w{
    background-color: rgb(255, 255, 255);
 }
 #footer_oo{
    /* background-color: rgb(128, 0, 0); */
    /* background-image: url(images/desktop/image-transform.jpg); */
    background-color: #ffffff;
    margin-left: 0%;
    width: 80%;
    /* width: 60%; */
 }
 #footer_ww{
     background-image: url(images/desktop/image-stand-out.jpg);
     background-color: rgb(197, 165, 165);
    
  }
  #footer_ooo{
    /* background-color: rgb(128, 0, 0); */
    background-image: url(images/desktop/image-photography.jpg); 
    /* background-color: rgb(61, 59, 59); */
    margin-left: 0%;
    width: 80%;
    /* width: 60%; */
 }
 #footer_www{
    background-image: url(images/desktop/image-graphic-design.jpg); 
     /* background-image: url(images/desktop/image-stand-out.jpg); */
     background-color: rgb(184, 11, 11);
    
  }
  #footer_oooo{
 background-color: #ffffff; 
    margin-left: 0%;
    width: 40%;
    /* width: 60%; */
 }
 #footer_left{
    background-color: #ffffff; 
       margin-left: 0%;
       width: 40%;
       /* width: 60%; */
    }

 #footer_wwww{
     background-color: #ffffff;
     width: 40%;
     margin-left: 0%;
    
  }
  .footer_edit{

       margin-top: 2%;
    }
    .heading h3{
        margin-top: 15%;
        width: 80%;
        margin-left: 15%;
        color: rgb(53, 52, 52);

    }
    .Emily{
        margin-left: 15%;
        margin-top: 15%;
        padding-bottom: 70px;
    }
    .Emily h3{
        margin-top: -10px;
        color: rgb(53, 52, 52);
    }
    
    .photo{
        width: 10%;
        height: 20%;
       
        position: absolute;
        margin-left: 10%;
        border-radius: 80%;
        margin-top: -8%;
        
    }
    .photo img{
        width: 80%;
        border-radius: 50%;
    }
    #footer_wwww6{
        background-color: #c20f0f;
        width: 40%;
        margin-left: 0%;
       
     }
.f6{

    
    height: 400px;
    width: 25%;
    margin-right: 0%;
    
}

#f6_a{
    background-color: rgb(192, 79, 79);
    margin-left: 2%;
    
}
#f6_b{
    background-color: rgb(0, 0, 0);
    
}
#f6_c{
    background-color: rgb(186, 198, 204);
}
#f6_d{
    background-color: rgb(207, 219, 226);
}
#f6_a img{
    height: 400px;
    width: 85%;
    margin-top: 0%;
    margin-left: 20%;
}
#f6_b img{
    height: 400px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
#f6_c img{
    height: 400px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
#f6_d img{
    height: 400px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.footer7 ul{
    margin-top: 7%;
    margin-left: 21%;
}
.footer7 h1{
    margin-top: 14% ;
    margin-left: 51%;
    position: absolute;
    color: #0E6655;
}
.footer7 ul li a{
color: #0e4d40;
margin-right: 30px;
}
.footer7 ul li a:hover{
color: white;
background-color: #76D7C4;
}
.socialmedia {
    margin-top: 22% ;
    margin-left: -23%;
    color: hsl(167, 40%, 24%);
}
a{
    color: #0E6655;
}
a:hover{
    color: white;
}
.arrow{
    margin-left: 50%;
    margin-top: -0%;
}
.transform{
    width: 55%;
    height: 50%;
    margin-left: 15%;
    margin-top: 12%;

}
.photograph{
width: 50%;
height: 50%;
margin-top: 45%;
margin-left: 35%;
}
h1.trans{
    color: black;
    font-family: 'Fraunces',serif;
    
    }
   
h1.transform{
    color: black;
    font-family: 'Fraunces',serif;
    
    }
    .transform h3{
        color: rgb(105, 105, 105);
        margin-left: 9%;
        
        }
        .transform a{
            color: rgb(7, 1, 1);
            margin-left: 9%;
            
            }
    .design{
        width: 50%;
        height: 50%;
        margin-top: 45%;
        margin-left: 35%;
        }
        .design h1{
            color: hsl(167, 40%, 24%);
            margin-left: 2%;
        }
        .stand{
            width: 50%;
            height: 50%;
            margin-top: 20%;
            margin-left: 35%;
            }
            .stand h1{
                color: hsl(180, 14%, 3%);
                font-family: 'Fraunces',serif;
                margin-left: 2%;
                font-size: 35px;
            }
            .stand h3{
                color: hsl(0, 0%, 47%);
                
                margin-left: 2%;
                font-size: 20px;
            }
            h1.learn{
                font-size: 15px;
                font-family: 'Fraunces',serif;
            }
            .transform a{
                text-decoration: none;
                color: black;
                margin-left: 8%;
            }
            .stand a{
                text-decoration: none;
                color: black;
            }